body {
  font-family: 'Source Code Pro', monospace;
  background-color: #6f8496;
  color: white;
  text-align: center;
}

thead{
  background-color: #693250;
  color: white;  
}

/* thead th{
  border-radius: 25px 25px 0px 0px;
} */

.navbar-brand{
  background-color: #693250;
}
